@import url(./fonts.css);

:root {
  --type-1: "Aeonik", sans-serif;

  --color-light:#fff;
  --color-dark:#000;

  /* --color-preloader-1:rgba(255, 240, 129, 1);
  --color-preloader-2:rgba(188, 255, 242, 1);
  --color-preloader-3:rgba(220, 255, 110, 1);
  --color-preloader-4:rgba(240, 252, 252, 1); */
}

*{margin: 0;padding:0;box-sizing: border-box;}
p{
    font-family: var(--type-1);
    font-weight:400;
    font-size: .875rem;
    line-height:100%;
    letter-spacing:1%;
}
